*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    padding: 2rem 0;
    margin: 0 auto;
    width: 90%;
    height: 100%;
}

.desktop{
    display: none;
}

.d-flex{
    display: flex;
}

.no-wrap{
    flex-wrap: nowrap;
}

.j-between{
    justify-content: space-between;
}

.align-center{
    align-items: center;
}


/* ----- HEADER ----- */
header{
    height: 80px;
    background-color: #0084FD;
}

.buttons{
    color: white;
    font-size: 20px;
}

ul li{
    list-style: none;
    padding-right: 30px;
}

/* MAIN */
.row{
    padding-top: 25px;
}

.col-lg{
    height: 610px;
    width: 100%;
    background-color: #B5DDFF;
    border-radius: 30px;
}

.col-md{
    height: 360px;
    width: 100%;
    background-color: #B5DDFF;
    border-radius: 30px;
}

.col-sm{
    height: 360px;
    width: 100%;
    background-color: #B5DDFF;
    border-radius: 30px;
}

/* ----- PURPLE ----- */
.purple{
    height: 1500px;
    background-color:#9593E6;
    margin-top: 90px;
}

.purple img{
    text-align: center;
    padding-top: 70px;
    width: 80%;
}






/* ----- GENERAL RESPONSIVE ----- */
@media screen and (min-width:379px){
    header .container .buttons{
        display: none;
    }

    header .container .menu{
        display: block;
    }
}

@media screen and (min-width:780px){
    header .container .buttons{
        display: block;
    }

    header .container .menu{
        display: none;
    }

    main .row .col-lg{
        margin-right: 20px;
        width: 66.6%;
    }

    main .row .col-md{
        display: flex;
        flex-wrap: nowrap;
        width: 33.3%;
        height: 610px;
    }

    main .row .col-sm{
        margin-right: 20px;
        width: calc(100% / 3);
        height: 450px;
    }

    main .row .col-sm:last-child{
        margin-right: 0;
    }
}
