*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    padding: 0 2rem;
    margin: 0 auto;
    width: 100%;
}

.debug{
    background-color: bisque;
    border: 1px solid black;
    min-height: 80px;
}


.row{
    display: flex;
    flex-wrap: wrap;
}

.col{
    width: 100%;
    height: 200px;
}

.desktop{
    display: none;
}

.d-flex{
    display: flex;
}

.no-wrap{
    flex-wrap: nowrap;
}

.align-center{
    align-items: center;
}

.image-cards{
    display: inline-block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: black;
}

/* ----- HEADER ----- */
header .container{
    display: flex;
    justify-content: space-between;
    background-color: #0084FD;
}

header .desktop-menu{
    display: none;
}


/* MAIN */

#intro .col{
    padding: 15px;
}

#intro .col .box{
    background-color: aquamarine;
    border-radius: 15px;

    /* debug */
    height: 100%;
}

.testimonial-cards{
    text-align: center;
}



/* ----- AREA RESPONSIVE ----- */
@media screen and (min-width: 480px){

}

@media screen and (min-width:780px){
    .container{
        max-width: 100%;
    }

    #intro .col:first-child{
        width: calc(100% / 1.5);
    }

    #intro .col{
        width: calc(100% / 3);
    }

    #intro .col:first-child .col{
        width: 100%;
    }

    #testimonials .col:first-child{
        width: calc(100% / 3);
    }

    #testimonials .col{
        width: calc(100% / 1.5);
    }
    
    #benefit .col{
        width: 50%;
    }

    #about .col{
        width: 50%;
    }
}

@media screen and (min-width:1200px){
    header .buttons{
        display: none;
    }
    
    header .desktop-menu{
        display: block;
    }

    .container{
        max-width: 1200px;
    }

    #intro .col:first-child .col{
        width: 50%;
    }

    #planning .col{
        width: 50%;
    }

    #benefit .col{
        width: calc(100% / 3);
    }

    #about .col:first-child{
        width: calc(100% / 1.5);
    }

    #about .col{
        width: calc(100% / 3);
    }
}