*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    margin: 0 auto;
    width: 90%;
    height: 100%;
}

.desktop{
    display: none;
}

.d-flex{
    display: flex;
}

.wrap{
    flex-wrap: wrap;
}

.j-between{
    justify-content: space-between;
}

.align-center{
    align-items: center;
}


/* ----- HEADER ----- */
header{
    height: 80px;
    background-color: #0084FD;
}

.buttons{
    color: white;
    font-size: 20px;
}

ul li{
    list-style: none;
    padding-right: 30px;
}

/* MAIN */
.col-lg{
    margin-top: 50px;
    height: 610px;
    background-color: #B5DDFF;
    border-radius: 30px;
}

.col-sm{
    margin-top: 30px;
    height: 360px;
    background-color: #B5DDFF;
    border-radius: 30px;
}

/* ----- GENERAL RESPONSIVE ----- */
@media screen and (min-width:780px){
    header .container .buttons{
        display: none;
    }

    header .container .menu{
        display: block;
    }
}